/*------------------------------------------------------------------
[Table of contents]
	+ General
        - Fonts
        - Common
	+ Sections
        - Navbar
        - Hero Slider
        - Qoute
        - Services
        - Features Services 
        - Tracking
        - Footer
    + Subpage
    + Contact Page
	- Responsive Design 
-------------------------------------------------------------------*/



/* Fonts 
/*================================================== */

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,600,700,800&display=swap');



/* Common 
/*================================================== */
body{
    font-family: 'Poppins', sans-serif;
}
p{
    font-size: 14px;
}
#scroll {
    position: fixed;
    right: 25px;
    bottom: 25px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #2691E4;
    text-indent: -9999px;
    display: none;
    border-radius: 60px;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}
#scroll:hover {
    background-color:#2691E4;
    opacity: .7;
}



/* Navbar 
/*================================================== */
.header_wrapper {
    background: #fff;
}
.header_top {
    border-bottom: 1px solid #eee;
}
.header_top ul {
    padding: 10px 0;
}
.header_top ul li {
    color: #777;
    font-weight: 400;
    font-size: 13px;
}
.header_nav a.navbar-brand {
    background: #fff;
    width: 150px;
    height: 58px;
    overflow: hidden;
}
.header_nav a.navbar-brand img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}
.header_nav ul.navbar-nav li a {
    color: #183650;
}
.header_nav ul.navbar-nav li a:hover{
    color: #183650;
    opacity: .8;
}
.header_nav .dropdown-menu a:hover {
    background: #fff;
}
.header_nav .dropdown-menu {
    background: #fff;
}
.header_phone_address i {
    color: #2691E4;
}
.header_socials .fa-facebook-f{color: #38539B;}
.header_socials .fa-twitter{color: #53A7E7;}
.header_socials .fa-instagram{color: #BA0056;}
.header_socials .fa-google-plus-g{color: #EF1B0D;}
.fixedheader {
    position: fixed!important;
    top: 0px!important;
    z-index: 1111;
    width: 100%;
    left: 0;
    background: #fff!important;
    transition: all .3s ease-in-out;
}
.header_socials li a {
    border: 1px solid #eee;
    width: 25px;
    height: 25px;
    display: block;
    border-radius: 50%;
    text-align: center;
    transition: all .3s ease;
    line-height: 25px;
}

.header_socials li a:hover{
    background: #eee;
}


/* Hero Slider 
/*================================================== */
div#hero_slider .item {
    height: 600px;
}
div#hero_slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero_slide_caption {
    position: absolute;
    left: 75%;
    top: 65%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 1111;
    background: rgba(0,0,0,.5);
    display: table;
    margin: auto;
    padding: 30px;
    max-width: 500px;
    color: #fff;
    border-radius: 5px;
}

#hero_slider .owl-dots {
    top: -92px;
    position: relative;
    text-align: right;
    right: 22%;
}

.hero_slide_caption h2 {
    font-weight: 400;
    letter-spacing: 2.2px;
    word-spacing: 6px;
}

/* Qoute 
/*================================================== */
section.qoute_area {
    background: #2691E4;
    padding: 30px;
    margin: 50px 0 0;
}
section.qoute_area p {
    color: #fff;
    font-size: 22px;
    margin: 0;
    padding-top: 14px;
}



/* Services 
/*================================================== */
section.services_area {
    padding: 80px 0;
}
.services_item {
    margin-bottom: 30px;
}
.services_img {
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
}
.services_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.services_content h2 a {
    font-size: 18px;
    font-weight: 700;
    color: #222;
    margin-bottom: 9px;
    letter-spacing: -0.2px;
}
.services_content h2 a:hover{
    color: #2691E4;
    text-decoration: none;
}
.services_content p {
    font-size: 14px;
    color: #777;
    line-height: 25px;
    margin-bottom: 10px;
}
.services_content .btn {
    font-weight: 600;
    position: relative;
    padding-left: 0;
    color: #2691e4;
    line-height: 24px;
    padding: 0;
}



/* Features Services 
/*================================================== */
.section_header {
    max-width: 550px;
    margin: auto;
    text-align: center;
    margin-bottom: 80px;
}
section.features_services_area {
    background: #F0F0F0;
    padding: 80px 0;
}
.section_header h2 {
    font-weight: 800;
    color: #222;
    margin-bottom: 9px;
    letter-spacing: -0.2px;
    margin-bottom: 10px;
}
.section_header p {
    font-size: 14px;
    color: #777;
    line-height: 25px;
}
.features_item {
    text-align: center;
    background: #fff;
    padding: 15px;
    margin-bottom: 30px;
}   
.features_item a:hover{
    text-decoration: none;
}
.fi_icon {
    border: 1px solid #cccc;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    font-size: 22px;
    margin: auto;
    margin-bottom: 15px;
    transition: all .3s ease-in-out;
}
.features_item:hover .fi_icon {
    background: #2691e4;
    border-color: #2691E4;
    color: #fff;
}
.features_item h2{
    font-size: 18px;
    font-weight: 700;
    color: #222;
    margin-bottom: 9px;
    letter-spacing: -0.2px;
}
.features_item p {
    font-size: 14px;
    color: #777;
    line-height: 25px;
    margin-bottom: 10px;
}



/* Tracking 
/*================================================== */
section.tracking_area {
    padding: 60px;
    background: #1A1E20;
}
.tracking_inner input {
    background: #21282B;
    border-color: #21282B;
    height: 50px;
    transition: all .3s ease;
}
.tracking_inner .form-control:focus {
    color: #fff;
    background-color: rgba(0,0,0,.5);
    border-color: #000;
    outline: 0;
    box-shadow: none;
}
.tracking_inner .input-group-prepend span {
    background: #D03232;
    border-color: #D03232;
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
}
.tracking_inner {
    max-width: 700px;
    margin: auto;
}



/* Partner 
/*================================================== */
.partner_item {height: 80px;background: #fff;}
.partner_item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 8px;
}



/* Footer 
/*================================================== */
.footer_area{
    padding: 80px 0;
    background: #111;
}
.footer_item.footer_logo img {
    margin-bottom: 20px;
}
.footer_item.footer_logo p {
    color: #F4F4F4;
}
.footer_item h2 {
    font-size: 18px;
    font-weight: 700;
    color: #F4F4F4;
    margin-bottom: 9px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    letter-spacing: .7px;
    word-spacing: 5px;
}
.footer_item ul {
    margin-top: 23px;
}
.footer_item ul li a {
    font-size: 14px;
    color: #F4F4F4;
    padding-bottom: 5px;
    margin-bottom: 7px;
    display: block;
    text-transform: capitalize;
    font-weight: 300;
}
.footer_item ul li:last-child a {
    border: 0;
}
section.footer_bottom_area {
    background: #111;
    border-top: 1px solid #222;
    text-align: center;
}
section.footer_bottom_area p {
    margin: 0;
    padding: 15px 0;
    color: #777;
    font-size: 14px;
    letter-spacing: .3px;
}
ul.list-unstyled.footer_contacts li:not(:last-child) {
    margin-bottom: 11px;
}
ul.list-unstyled.footer_contacts li span {
    color: #f4f4f4;
    width: 80%;
    float: left;
}
ul.list-unstyled.footer_contacts li i {
    width: 11%;
    float: left;
    color: #747474;
    font-size: 22px;
    padding-top: 5px;
}
ul.list-unstyled.footer_contacts li {
    display: block;
    overflow: hidden;
    font-size: 15px;
}
.footer_item ul li a i {
    margin-right: 5px;
    font-size: 11px;
    position: relative;
    top: -1px;
}
ul.list-unstyled.footer_contacts li i {
    width: 30px;
    float: left;
    color: #747474;
    font-size: 22px;
    padding-top: 5px;
    border: 1px solid #747474;
    height: 30px;
    font-size: 16px;
    text-align: center;
    margin-right: 10px;
    margin-top: 5px;
}





/* Subpage 
/*================================================== */
.subpage_header{
    background: url(../img/bg_1.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
    margin-bottom: 80px;
}
.subpage_header:after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,.2);
}
.subpage_content {
    display: table;
    margin: auto;
    text-align: center;
    max-width: 400px;
    padding: 40px 0;
    position: relative;
    z-index: 11;
}
.subpage_content h2 {
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
}
.subpage_content h2 p {
    color: #fff;
}
.subpage_content p {
    color: #fff;
    letter-spacing: .4px;
    margin: 0;
}
.separator_line {
    height: 3px;
    width: 113px;
    background: #2691E4;
    margin: auto;
    margin-top: 15px;
    overflow: hidden;
}
.subpage_header:after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
}
.gallery_area{
    margin-bottom: 80px;
}
.gallery_img_box {
    height: 252px;
    margin-bottom: 30px;
}
.gallery_img_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery_area .container {
    max-width: 60%;
}



/* Contact Page 
/*================================================== */
.contact_area{
    margin-bottom: 80px;
}
.contact_area .container {
    max-width: 70%;
}
.contact_text_item h2 {
    font-size: 22px;
}
.contact_text_item {
    margin-bottom: 20px;
}
.contact_text p {
    margin: 0;
}
button.btn.btn-default.submit_btn {
    background: #2691E4;
    color: #fff;
}
.map_container {
    margin-top: 50px;
    height: 400px;
}
.map_container iframe {
    width: 100%;
    height: 100%;
}

/* flying button */
body{
    position: relative;
}
.flying__button {
    position: fixed;
    right: -43px;
    top: 50%;
    z-index: 9999;
}
.flying__button a {
    display: block;
    opacity: 1;
}
.flying__button span#basic-addon1 {
    background: #2691E4;
    color: #fff;
    border-color: #2691E4;
}
.flying__button a {
    transform: rotate(90deg);
    text-decoration: none;
}
.flying__button button.form-control {
    border-color: #182141;
    background: #182141;
    color: #fff;
}

.flying__button a:hover {
    opacity: .9;
}


/* serivices pages */
.services_item.services__pages {
    border: 1px solid #eee;
}
.services_pages_btn {
    background: #2691E4;
    color: #fff!important;
    font-size: 15px;
    padding: 3px 14px!important;
    font-weight: 400!important;
    border-radius: 0!important;
}
.services_pages_btn:hover {
    border-color: #2691E4;
    background: #fff;
    color: #2691E4!important;
}
.services_pages_btn {
    background: #2691E4;
    color: #fff!important;
    font-size: 15px;
    padding: 3px 14px!important;
    font-weight: 400!important;
    border-radius: 0!important;
}
.services_pages_btn:hover {
    border-color: #2691E4;
    background: #fff;
    color: #2691E4!important;
}
.services__pages .services_item.services__pages {
    border: 1px solid #eee;
}
.services__pages .services_content {
    padding: 15px;
    padding-top: 0;
}
ol.breadcrumb a {
    color: #fff;
}
ol.breadcrumb {
    background: transparent;
}
.services_sub_page .card-header {
    background: #006DB7;
    color: #fff;
}
.services_sub_page_leftside ul li a {
    color: #777;
    display: block;
    padding: 7px;
    border-bottom: 1px solid #eee;
}